.create-new-account {
    position: absolute;
    top: 503px;
    left: 0px;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 551px;
    height: 59px;
}
.right-child {
    position: absolute;
    top: 385px;
    left: 201px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 149px;
    height: 59px;
}
.forgot-password {
    position: absolute;
    top: 326px;
    left: 0px;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
    width: 551px;
    height: 59px;
}
.right-item {
    position: absolute;
    top: 269px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 551px;
    height: 59px;
}
.password {
    position: absolute;
    top: 208px;
    left: 0px;
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
    width: 551px;
    height: 59px;
}
.right-inner {
    position: absolute;
    top: 149px;
    left: 0px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 551px;
    height: 59px;
}
.username {
    position: absolute;
    top: 90px;
    left: 0px;
    font-weight: 300;
    text-align: left;
    display: flex;
    align-items: center;
    width: 551px;
    height: 59px;
}
.user-login {
    position: absolute;
    top: 0px;
    left: 200px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 57px;
}
.right {
    position: absolute;
    top: 437px;
    left: 1152px;
    width: 551px;
    height: 562px;
}
.petgilid-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 839px;
    object-fit: cover;
}
.surgeries1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 32px;
}
.surgeries {
    position: absolute;
    top: 514px;
    left: 92px;
    font-weight: 300;
    display: inline-block;
    width: 288px;
    height: 47px;
}
.wellness-check-up {
    position: absolute;
    top: 466px;
    left: 92px;
    font-weight: 300;
    display: inline-block;
    width: 288px;
    height: 48px;
}
.vaccinations {
    position: absolute;
    top: 418px;
    left: 92px;
    font-weight: 300;
    display: inline-block;
    width: 260px;
    height: 48px;
}
.grooming {
    position: absolute;
    top: 371px;
    left: 92px;
    font-weight: 300;
    display: inline-block;
    width: 260px;
    height: 47px;
}
.our-services1 {
    margin: 0;
}
.our-services {
    position: absolute;
    top: 318px;
    left: 92px;
    font-size: 26px;
    font-weight: 300;
    display: inline-block;
    width: 260px;
    height: 47px;
}
.pet-care-services {
    position: absolute;
    top: 232px;
    left: 92px;
    font-size: 26px;
    display: inline-block;
    width: 260px;
    height: 48px;
}
.we-care-about {
    position: absolute;
    top: 28px;
    left: 92px;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 251px;
    height: 232px;
}
.left {
    position: absolute;
    top: 240px;
    left: 0px;
    width: 960px;
    height: 839px;
    text-align: left;
    color: #ffd1b0;
    font-family: 'Work Sans';
}
.top-navigation-bar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 1920px;
    height: 241.7px;
}
.our-mission {
    position: absolute;
    top: 88px;
    left: 725px;
    display: inline-block;
    width: 185px;
    height: 40px;
}
.top-navigation-bar-item {
    position: absolute;
    top: 127px;
    left: 1501.72px;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    width: 68.6px;
    height: 1px;
}
.team {
    position: absolute;
    top: 88px;
    left: 910px;
    display: inline-block;
    width: 111px;
    height: 40px;
}
.services {
    position: absolute;
    top: 88px;
    left: 1021px;
    display: inline-block;
    width: 174px;
    height: 40px;
}
.login1 {
    position: absolute;
    top: 88px;
    left: 1502px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 40px;
}
.care-less-whisker-high-resolut-icon {
    position: absolute;
    top: 43.77px;
    left: 101.33px;
    width: 318.2px;
    height: 125.6px;
    object-fit: cover;
}
.care-less-whisker-high-resolut-icon1 {
    position: absolute;
    top: 279.74px;
    left: 1280px;
    width: 318.2px;
    height: 125.6px;
    object-fit: cover;
}
.top-navigation-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 405.3px;
    font-size: 20px;
    color: #fff;
}
.login-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1079px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
}
button {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
}
button:hover {
    background-color: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
}
.schedule-now-btn {
    position: absolute;
    top: 78px;
    left: 1618px;
    width: 213px;
    height: 67px;
}
.login-btn {
    position: absolute;
    top: 385px;
    left: 135px;
    font-weight: 300;
    width: 300px;
    height: 59px;
}
.nav-button {
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}
.nav-button:hover {
    color: rgb(148, 147, 147);
}
.forms-button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}
.forms-button:hover {
    color: rgb(148, 147, 147);
}
a img.care-less-whisker-high-resolut-icon {
    cursor: pointer; /* Make the cursor a pointer on hover */
    transition: transform 0.3s ease;
}